html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
  background-color: #111 !important;
  height: 100%;
}

.main {
  display: none;
  position: fixed;
  left: 6.25%;
  top: 0px;
  background-color: #111;
  width:100%;
  height:100%;
}


#home_main {
  position: sticky;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

#nav_panel {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #111;
    width: 6.25%;
    height: 100%;
    display: flex;
    /* align-items: center; */
}

#nav_bar {
}

.nav_element {
  left:0px;
  top:0px;
  width:100%;
  opacity: 0.3;
  display: flex;
  align-items: center;
  /* border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white; */
}

#main_div {
    position: fixed;
    left: 6.25%;
    top: 0px;
    background-color: #333;
    width: 95%;
    height: 100%;;
}










/* -------------- GALLERY -------------- */



/* top nav elements */

#gallery_top_nav_frame {
  position: fixed;
  left: 6.25%;
  top: 0%;
  background-color: #111;
  width: 6.25%;
  height: 100%;
}

#gallery_top_nav_bar {
  width: 100%;
  height:100%;
}

.gallery_top_nav_element {
  display:block;
  width: 100%;
  opacity: 0.3;
}


/* individual gallery nav elements */

.gallery_nav {
    position: fixed;
    left: 12.5%;
    top: 0%;
    width: 6.25%;
    height: 100%;
    display: none;
}

.gallery_nav_element {
  display:block;
  padding: 0px;
  width: 100%;
  /* border-left: 1px solid #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555; */
}

.square {
  width: 100%;
  height: 11.11%;
  background-color: #111;
}

#gallery_QR_img {
  position: fixed;
  left: 65%;
  width: 10%;
}



/* main image and description */

#gallery_image_div {
  position: fixed;
  left: 18.75%;
  top: 0%;
  width: 56.25%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: #000;
}

#gallery_image {
  border: 0px;
  width: 100%;
  height: 100%;
}


#gallery_description_div {
    position: fixed;
    left: 75%;
    top: 0%;
    padding: 1%;
    background-color: #000;
    color: #FFF;
    width: 23%;
    height: 100%;
    z-index: 1;
}

#gallery_title {
    font-size: 20pt;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}


#gallery_short_description {
    font-size: 15pt;
    color: #BBB;
    font-family: 'Lato', sans-serif;
}

/* hidden on iPad */

#toggle_long_description {
  display: flex;
  align-items:center;
  /* display: none; */
}

#gallery_long_description {
    display: none;
    font-size: 12pt;
    color: #999;
    font-family: 'Lato', sans-serif;
}







/* -------------- TIMELINE -------------- */

#timeline_frame {
  position: fixed;
  left: 6.25%;
  top: 0%;
  width: 7.75%;
  height: 100%;
  background-color: #000;
  overflow: scroll;
  border-left: 1px solid #777;
}


#timeline_info_frame {
  position: fixed;
  left: 14%;
  top: 0%;
  width: 86%;
  height: 100%;
  background-color: #000;
}

#timeline_image_frame {
  position: fixed;
  left: 14%;
  top: 0%;
  width: 56.25%;
  height: 100%;
}

#timeline_image_frame img {
  height:100%;
}


#timeline_text_frame {
  position: fixed;
  left: 70.25%;
  top: 0%;
  height:100%;
  width:27.75%;
  padding: 1%;
  background-color: #000;
}


#timeline_date {
    margin: 0;
    padding: 5;
    font-size: 20pt;
    color: #EEE;
    font-family: 'Rubik', sans-serif;
}

#timeline_title {
    margin: 0;
    padding: 5;
    font-size: 30pt;
    color: #BBB;
    font-family: 'Rubik', sans-serif;
}

#timeline_description {
    margin: 0;
    padding: 5;
    font-size: 14pt;
    color: #999;
    font-family: 'Rubik', sans-serif;
}



.year_label {
      position: absolute;
      left: 30px;
      font-size: 12pt;
      color: #AAA;
      font-family: 'Rubik', sans-serif;
   }

.yline {
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: #777;
   }

.mline {
     position: absolute;
     height: 1px;
     width: 10px;
     background-color: #555;
  }


.milestone {
     position: absolute;
     height: 2px;
     width: 140px;
     background-color: #FFF;
     opacity:0.2;
  }

.milestone_label {
  position: absolute;
  left: 15%;
  font-size: 30px;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  text-align: right;
  }
