html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
  /* height: 1800px; */
  width: 100%;
  background-color: #000 !important;
  /* height: 1440px; */
  /* width: 2560px; */
}

/* img {
  width:100%;
  height:100%;
} */


.main {
  display: none;
  position: fixed;
  left: 10%;
  top: 0px;
  background-color: #000;
  width:100%;
  height:100%;
}


#home_main {
  position: sticky;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

#nav_panel {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #111;
    width: 10%;
    height: 100%;
    display: flex;
    /* align-items: center; */
}

#nav_bar {
}

.nav_element {
  left:0px;
  top:0px;
  width:100%;
  opacity: 0.3;
  display: flex;
  align-items: center;
  /* border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white; */
}

#main_div {
    position: fixed;
    left: 10%;
    top: 0px;
    background-color: #333;
    width: 90%;
    height: 100%;;
}










/* -------------- GALLERY -------------- */



/* top nav elements */

#gallery_top_nav_frame {
  position: fixed;
  left: 10%;
  top: 0%;
  background-color: #000;
  width: 10%;
  height: 100%;
}

#gallery_top_nav_bar {
  width: 100%;
}

.gallery_top_nav_element {
  width: 100%;
  opacity: 0.3;
}


/* .gallery_top_nav_element {
  opacity: 0.3;
  height: 100%;
} */


/* individual gallery nav elements */

.gallery_nav {
    position: fixed;
    left: 20%;
    top: 0%;
    width: 80%;
    height: 13.3%;
    display: none;
}

.gallery_nav_element {
   height: 100%;
}



/* main image and description */

#gallery_image_div {
  position: fixed;
  display:block;
  left: 20%;
  top: 13.3%;
  width: 80%;
  height: 60%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: #000;
}

#gallery_image {
  border: 0px;
  width: 100%;
  height: 100%;
}


#gallery_description_div {
    position: fixed;
    left: 20%;
    top: 73.3%;
    padding: 1%;
    margin: 0px;
    background-color: #000;
    color: #FFF;
    width: 80%;
    height: 25%;
    z-index: 1;
}

#gallery_title {
    margin: 0;
    padding: 5;
    font-size: 20pt;
    font-family: 'Rubik', sans-serif;
}


#gallery_short_description {
    margin: 0;
    padding: 5;
    font-size: 14pt;
    color: #BBB;
    font-family: 'Lato', sans-serif;
}

/* hidden on iPad */

#toggle_long_description {
  /* display: flex; */
  align-items:center;
  display: none;
}

#gallery_long_description {
    display: none;
    margin: 0;
    padding: 5;
    font-size: 15pt;
    color: #999;
    font-family: 'Lato', sans-serif;
}







/* -------------- TIMELINE -------------- */

#timeline_frame {
  position: fixed;
  left: 10%;
  top: 0%;
  width: 10%;
  height: 5000px;
  background-color: #111;
  overflow: scroll;
  border-left: 1px solid #777;
}


#timeline_info_frame {
  position: fixed;
  left: 20%;
  top: 0%;
  width: 70%;
  height: 100%;
  background-color: #000;
}

#timeline_image_frame {
  float:left; /* add this */
  left: 0%;
  top: 0%;
  height:100%;
}

#timeline_image_frame img {
  height:100%;
}


#timeline_text_frame {
  position: relative;
  padding: 50px;
  float:left; /* add this */
  top: 10%;
  height:100%;
  width:700px;
}


#timeline_date {
    margin: 0;
    padding: 5;
    font-size: 15pt;
    color: #EEE;
    font-family: 'Rubik', sans-serif;
}

#timeline_title {
    margin: 0;
    padding: 5;
    font-size: 50pt;
    color: #BBB;
    font-family: 'Rubik', sans-serif;
}

#timeline_description {
    margin: 0;
    padding: 5;
    font-size: 15pt;
    color: #999;
    font-family: 'Rubik', sans-serif;
}



.year_label {
      position: absolute;
      left: 30px;
      font-size: 12pt;
      color: #AAA;
      font-family: 'Rubik', sans-serif;
   }

.yline {
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: #777;
   }

.mline {
     position: absolute;
     height: 1px;
     width: 10px;
     background-color: #555;
  }


.milestone {
     position: absolute;
     height: 2px;
     width: 140px;
     background-color: #FFF;
     opacity:0.2;
  }

.milestone_label {
  position: absolute;
  left: 15%;
  font-size: 30px;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  text-align: right;
  }
