

#timeline_frame {
  position: fixed;
  left: 200px;
  top: 0px;
  width: 500px;
  height: 5000px;
  background-color: #222;
  overflow: scroll;
}


#timeline_info_frame {
  position: fixed;
  left: 700px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#image_frame {
  float:left; /* add this */
  left: 0px;
  top: 0px;
  height:100%;
}

#image_frame img {
  height:100%;
}


#text_frame {
  position: relative;
  padding: 50px;
  float:left; /* add this */
  top: 200px;
  height:100%;
  width:700px;
}


#date {
    margin: 0;
    padding: 5;
    font-size: 30pt;
    color: #EEE;
    font-family: 'Rubik', sans-serif;
}

#title {
    margin: 0;
    padding: 5;
    font-size: 50pt;
    color: #BBB;
    font-family: 'Rubik', sans-serif;
}

#description {
    margin: 0;
    padding: 5;
    font-size: 15pt;
    color: #999;
    font-family: 'Rubik', sans-serif;
}



.year_label {
      position: absolute;
      left: 30px;
      font-size: 20pt;
      color: #AAA;
      font-family: 'Rubik', sans-serif;
   }

.yline {
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: #777;
   }

.mline {
     position: absolute;
     height: 1px;
     width: 10px;
     background-color: #555;
  }


.milestone {
     position: absolute;
     height: 10px;
     width: 100%;
     background-color: #FFF;
     opacity:0.3;
  }

.milestone_label {
  position: absolute;
  left: 150px;
  font-size: 15pt;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  }
